* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#94d6ff, #006f9b);
}
.nuvens{
    width: 550px;
    position: absolute;
    right: 0;
    animation: clouds 10s infinite linear;
}

@keyframes clouds {
    from {
        right: -500px;
    }
    
    to {
        right: 100%;
    }
    
}
.game-board{
    width: 100%;
    height: 500px;
    border-bottom: 15px solid rgb(0, 148, 20);
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: linear-gradient(#87CEEB, #E8F6FF);
}
.trap {
    position: absolute;
    bottom: 0;
    width: 15%;   
    animation: trap-animation 1.5s  infinite linear;
}
@keyframes trap-animation {
    from {
        right: -350px;
    }
    to{
        right: 100%;
    }
    
}
.luffy {
    position: absolute;
    bottom: 0;
   
}
.jump {
    animation: jump 800ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0;
    }
    30% {
        bottom: 200px;
    }
    40%{
        bottom: 200px;
    }
    50% {
        bottom: 200px;
    }
    60% {
        bottom: 200px;
    }
    70% {
        bottom: 200px;
    }
    750% {
        bottom: 200px;
    }
    100%{
        bottom: 0;
    }
    
}